<main>
    <h1>OTHER SHAREHOLDERS INFORMATION</h1>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Shareholding Pattern
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Compliance Certificate-Regulation 7 (3) of SEBI (LODR)
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a href="assets/pdf/shareholders/acms_7_3_april22.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) March 2022</a><br>
        <a href="assets/pdf/shareholders/acms_7_3_sep21.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) September 2021</a><br>
        <a href="assets/pdf/shareholders/ACMS_7_3_march2021.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) March 2021</a><br>
        <a href="assets/pdf/shareholders/avonmore_7_3_sep2020.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) September 2020</a><br>
        <a href="assets/pdf/shareholders/7(3) 31.03.2020 ACMS.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) March 2020</a><br>
        <a href="assets/pdf/shareholders/BSE_7_3_ACMS.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) September 2019</a><br>
        <a href="assets/pdf/shareholders/ACMS_BSE_7(3)_mar.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) March 2019</a><br>
        <a href="assets/pdf/shareholders/ACMS_7_3.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) September 2018</a><br>
        <a href="assets/pdf/shareholders/ACMS_Compliance_Certificate_Regulation_7.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR)</a><br>
        <a href="assets/pdf/shareholders/compliance_acms_wesite.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) Q2 (2016-17)</a><br>
        <a href="assets/pdf/shareholders/avonmore7(3)1718.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) Q2 (2017-18)</a><br>
        <a href="assets/pdf/shareholders/acms_7_3_sep21.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) Q4 (2017-18)</a><br>
        <a href="assets/pdf/shareholders/compliance certificatr_ACMS_MAR17.pdf" target="/"> <i class="fas fa-file-pdf"></i> Compliance Certificate-Regulation 7 (3) of SEBI (LODR) Q4 (2016-17)</a><br>
        

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Code Of Conduct (Prevention of Insider Trading)
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a href="assets/pdf/shareholders/insidertraing_ACMs.pdf" target="/"><i class="fas fa-file-pdf"></i> Code Of Conduct (Prevention of Insider Trading)</a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Company Policy
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a href="assets/pdf/shareholders/whistle_policy.pdf" target="/"><i class="fas fa-file-pdf"></i> Whistle Blower Policy</a><br>
        <a href="assets/pdf/shareholders/transactions_policy.pdf" target="/"><i class="fas fa-file-pdf"></i> Related Party Trasactions Policy</a><br>
        <a href="assets/pdf/shareholders/nomination_policy.pdf" target="/"><i class="fas fa-file-pdf"></i> Nomination And Remuneration Policy</a><br>
        <a href="assets/pdf/shareholders/material_policy.pdf" target="/"><i class="fas fa-file-pdf"></i> Policy on Material Subsidiary Company</a><br>
        <a href="assets/pdf/shareholders/CSR_2017.pdf" target="/"><i class="fas fa-file-pdf"></i> CSR Policy 2017</a><br>
        <a href="assets/pdf/shareholders/CSR Amended Policy-ACMS-01.04.2021.pdf" target="/"><i class="fas fa-file-pdf"></i> CSR Amended Policy 2021</a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Annual General Meeting Results
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a href="assets/pdf/shareholders/Avonmore_votingresults_2021.pdf" target="/"><i class="fas fa-file-pdf"></i> 29th Annual General Meeting Results - 2021</a><br>
          <a href="assets/pdf/shareholders/results_scrutinizerreport_acms.pdf" target="/"><i class="fas fa-file-pdf"></i> 28th Annual General Meeting Results - 2020</a><br>
          <a href="assets/pdf/shareholders/scrutunizer_report_acms.pdf" target="/"><i class="fas fa-file-pdf"></i> 27th Annual General Meeting Results - 2019</a><br>
          <a href="assets/pdf/shareholders/ACMS_RESULTS_AGM_BSE.pdf" target="/"><i class="fas fa-file-pdf"></i> 26th Annual General Meeting Results - 2018</a><br>
          <a href="assets/pdf/shareholders/Resulrs_acms_17.pdf" target="/"><i class="fas fa-file-pdf"></i> 25th Annual General Meeting Results - 2017</a><br>
          <a href="assets/pdf/shareholders/Website_ACMS_REsults.pdf" target="/"><i class="fas fa-file-pdf"></i> 24th Annual General Meeting Results - 2016</a><br>
          <a href="assets/pdf/shareholders/AGM_Results_2015.pdf" target="/"><i class="fas fa-file-pdf"></i> 23rd Annual General Meeting Results - 2015</a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Notice to Stock Exchange/s for :
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Shareholders Meetings:
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet.</p>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Familarisation programe of Independent Directors
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <a href="assets/pdf/shareholders/Familiarisation Programmes of Independent 2021-22 and Cumulative till date.pdf" target="/"><i class="fas fa-file-pdf"></i> Familarisation programe of Independent Directors 2021-2022 and Cumulative till Date</a><br>
        <a href="assets/pdf/shareholders/Familarisation Programme_ACMS 2020-21.pdf" target="/"><i class="fas fa-file-pdf"></i> Familarisation programe of Independent Directors 2015-16 to 2020-21</a><br>
        <a href="assets/pdf/shareholders/Familirization_Prog_ACMS.pdf" target="/"><i class="fas fa-file-pdf"></i> Familarisation programe of Independent Directors 2014-15 to 2019-20</a>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Terms of Appointment of Independent Directors
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Reconciliation of Share Capital Audit Report
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Fair Practice Code
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Investor Complaint
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Postal Ballot July 2017
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Designated Depository for monitoring foreign investment limits
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Related Party Transactions
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Shareholder’s Forms
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              ACMS BUYBACK 2022
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Lorem ipsum dolor sit amet.</p>
        </mat-expansion-panel>
      </mat-accordion>
</main>