<main>
    <p class="heading">Cookie Policy</p>
<p>Almondz may use cookies, web beacons, tracking pixels, and other tracking technologies when you visit our website www.almondz.com, including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the “site”) to help customize the site and improve your experience.</p>
<p>We reserve the right to make changes to this cookie policy at any time and for any reason. We will alert you about any changes by updating the “last updated” date of this cookie policy. Any changes or modifications will be effective immediately upon posting the updated cookie policy on the site, and you waive the right to receive specific notice of each such change or modification.</p>
<p>You are encouraged to periodically review this cookie policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised cookie policy by your continued use of the site after the date such revised cookie policy is posted.</p>
<p class="subHeading">Use Of Cookies</p>
<p>A “cookie” is a string of information which assigns you a unique identifier that we store on your computer. Your browser then provides that unique identifier to use each time you submit a query to the site. We use cookies on the site to, among other things, keep track of services you have used, record registration information, record your user preferences, keep you logged into the site, facilitate purchase procedures, and track the pages you visit. Cookies help us understand how the site is being used and improve your user experience.</p>
<p class="subHeading">Types Of Cookies</p>
<p>The following types of cookies may be used when you visit the site:</p>
<h3>Advertising cookies</h3>
<p>Advertising cookies are placed on your computer by advertisers and ad servers in order to display advertisements that are most likely to be of interest to you. These cookies allow advertisers and ad servers to gather information about your visits to the site and other websites, alternate the ads sent to a specific computer, and track how often an ad has been viewed and by whom. These cookies are linked to a computer and do not gather any personal information about you.</p>
<h3>Analytics cookies</h3>
<p>Analytics cookies monitor how users reached the site, and how they interact with and move around once on the site. These cookies let us know what features on the site are working the best and what features on the site can be improved.</p>
<h3>Our cookies</h3>
<p>Our cookies are “first-party cookies”, and can be either permanent or temporary. These are necessary cookies, without which the site won't work properly or be able to provide certain features and functionalities. Some of these may be manually disabled in your browser, but may affect the functionality of the site.</p>
<h3>Personalization cookies</h3>
<p>Personalization cookies are used to recognize repeat visitors to the site. We use these cookies to record your browsing history, the pages you have visited, and your settings and preferences each time you visit the site.</p>
<h3>Security cookies</h3>
<p>Security cookies help identify and prevent security risks. We use these cookies to authenticate users and protect user data from unauthorized parties.</p>
<h3>Site management cookies</h3>
<p>Site management cookies are used to maintain your identity or session on the site so that you are not logged off unexpectedly, and any information you enter is retained from page to page. These cookies cannot be turned off individually, but you can disable all cookies in your browser.</p>
<h3>Third-party cookies</h3>
<p>Third-party cookies may be place on your computer when you visit the site by companies that run certain services we offer. These cookies allow the third parties to gather and track certain information about you. These cookies can be manually disabled in your browser.</p>
<h3>Control Of Cookies</h3>
<p>Most browsers are set to accept cookies by default. However, you can remove or reject cookies in your browser’s settings. Please be aware that such action could affect the availability and functionality of the site.</p>
<p>For more information on how to control cookies, check your browser or device’s settings for how you can control or reject cookies, or visit the following links:</p>
<ul>
    <li>Apple Safari</li>
    <li>Google Chrome</li>
    <li>Microsoft Edge</li>
    <li>Microsoft Internet Explorer</li>
    <li>Mozilla Firefox</li>
    <li>Opera</li>
    <li>Android (Chrome)</li>
    <li>Blackberry</li>
    <li>Iphone or Ipad (Chrome)</li>
    <li>Iphone or Ipad (Safari)</li>
</ul>
<p>In addition, you may opt-out of some third-party cookies through the network advertising initiative’s opt-out tool.</p>
<p class="subHeading">Other Tracking Technologies</p>
<p>In addition to cookies, we may use web beacons, pixel tags, and other tracking technologies on the site to help customize the site and improve your experience. A “web beacon” or “pixel tag” is tiny object or image embedded in a web page or email. They are used to track the number of users who have visited particular pages and viewed emails, and acquire other statistical data. They collect only a limited set of data, such as a cookie number, time and date of page or email view, and a description of the page or email on which they reside. Web beacons and pixel tags cannot be declined. However, you can limit their use by controlling the cookies that interact with them.</p>
<p class="subHeading">Privacy Policy</p>
<p>For more information about how we use information collected by cookies and other tracking technologies, please refer to our privacy policy on the site. This cookie policy is part of and is incorporated into our privacy policy. By using the site, you agree to be bound by this cookie policy and our privacy policy.</p>
<p>In accordance with information technology act 2000 and rules made there under, the name and contact details of the grievance officer are provided below Grievance officer - customer services</p>
<p>Name : Mr. Ravi Gautam</p>
<p>Email :delhi@almondz.com</p>

</main>