main{
    width: 100%;
    padding:100px 5%;
}

.table{
    width: 100%;
    overflow-x: auto;
    text-align: center;
}
table{
    width:100%;
}
th.mat-header-cell{
    text-align: center;
}
td ,th {
    font-size: .8rem;
    border:  1px solid rgb(162, 162, 162);
}