<main>
    <h2 class="heading" >Our Vision</h2>
    <div class="vision">
        <img src="assets/images/b.jpg" alt="">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde, sapiente provident. Vel expedita provident impedit neque suscipit, dolorum quisquam quis odio exercitationem pariatur in cum accusamus rerum eos a veritatis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda veniam, omnis illum consequatur itaque perspiciatis facilis similique dicta tenetur, aspernatur voluptatem explicabo eius nobis? Tempora cumque neque praesentium ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur aut pariatur voluptatum quidem delectus nobis, inventore saepe fugit numquam veniam, ullam impedit, assumenda alias? Similique nisi officia amet explicabo iure. </p>
    </div>
    
</main>
