<main>
  <h1>Financials</h1>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Notice
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <a href="assets/pdf/financials/Notice2014-15.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2014-15</a><br>
      <a href="assets/pdf/financials/ACMS_AGM_NotIce.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2015-16</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Notice 2017.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2016-17</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Notice 2017.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2017-18</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Notice 2017.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2018-19</a><br>
      <a href="assets/pdf/financials/NOtice_avonmore_2020.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2019-20</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Notice 2017.pdf" target="/"><i class="fas fa-file-pdf"></i> Notice
        2020-21</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Notice 2017.pdf" target="/"><i class="fas fa-file-pdf"></i>Notice 2021-22(Avonmore_Notice_202122.pdf)</a><br>


    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Annual Report
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/annual_report_1415.pdf" target="/"><i class="fas fa-file-pdf"></i> Annual Report -
        2014-15</a><br>
      <a href="assets/pdf/financials/ACMS_Annual_Report_2015-16.pdf" target="/"><i class="fas fa-file-pdf"></i> Annual
        Report - 2015-16</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Annual Report 2016-17.pdf" target="/"><i
          class="fas fa-file-pdf"></i> Annual Report - 2016-17</a><br>
      <a href="assets/pdf/financials/Avonmore Capital Annual Report 2017-18.pdf" target="/"><i
          class="fas fa-file-pdf"></i> Annual Report - 2017-18</a><br>
      <a href="assets/pdf/financials/Annual Report_ACMS.pdf" target="/"><i class="fas fa-file-pdf"></i> Annual Report -
        2018-19</a><br>
      <a href="assets/pdf/financials/Annual_Report_ACMS_2020.pdf" target="/"><i class="fas fa-file-pdf"></i> Annual
        Report - 2019-20</a><br>
      <a href="assets/pdf/financials/Annual_Report_ACMS_2021.pdf" target="/"><i class="fas fa-file-pdf"></i> Annual
        Report - 2020-21</a><br>
      <a href="assets/pdf/financials/Annual_Report_ACMS_2021.pdf" target="/"><i class="fas fa-file-pdf"></i>
        Annual Report 2021-22(Annual_Report_ACMS_2021.pdf)</a><br>


    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MGT-9(2018-19)
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/annexure IV_MGT-9.pdf" target="/"><i class="fas fa-file-pdf"></i>
        MGT-9(2018-19)</a><br>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MGT-9(2019-20)
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/MGT-9_march2020.pdf" target="/"><i class="fas fa-file-pdf"></i>
        MGT-9(2019-20)</a><br>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MGT-9(2020-21)
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/MGT-9_march2021.pdf" target="/"><i class="fas fa-file-pdf"></i>MGT-9(2020-21)</a><br>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MGT-9 (2021-22)( MGT-9_march2022.pdf)
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/MGT-9_march2021.pdf" target="/"><i class="fas fa-file-pdf"></i>MGT-9(2020-21)</a><br>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Attendance / Ballot Form
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/proxy form & ballot.pdf" target="/"><i class="fas fa-file-pdf"></i>proxy form & ballot</a><br>
      <a href="assets/pdf/financials/proxy & ballot form_01_09.pdf" target="/"><i class="fas fa-file-pdf"></i>proxy form & ballot 2016-17</a><br>
      <a href="assets/pdf/financials/Proxy_avonmore18.pdf" target="/"><i class="fas fa-file-pdf"></i>proxy form & ballot 2017-18</a><br>
      <a href="assets/pdf/financials/proxy_ballot_avonmore.pdf" target="/"><i class="fas fa-file-pdf"></i>proxy form & ballot 2018-19</a><br>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Financial Results and Publication
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin-top:20px ;" *ngFor="let item of files" >
        <a target="/" *ngFor="let file of item" [href]="file.path"><i class="fas fa-file-pdf"></i>{{file.name}} <br></a>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Limited Review Report
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <a href="assets/pdf/financials/limited_review_Dec_15.pdf" target="/"><i class="fas fa-file-pdf"></i>Limited Review Report for the Quarter Ended 31 Dec 2015</a><br>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Subisidiaries Details
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="margin-top:20px ;" *ngFor="let item of files2" >
        <a target="/"  *ngFor="let file of item" [href]="file.path"><i class="fas fa-file-pdf"></i>{{file.name}} <br></a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</main>